<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    <add key="IncludeFolders" value="IT Service Desk - Client,uslbm,Cloud alerts,Bnsfcitrixadmin"/>
	<add key="ReadSubjectStartsWithTokens" value="RE:,FW:,INC,RITM"/>
	<add key="ReadSubjectContainTokens" value=""/>
    <add key="OutlookerFilterXmlPath" value="C:\Users\t_saia\Desktop\Docs\Demo\Outlooker\outlooker-filter.xml"/>
	<add key="ReportFormat" value="Excel"/>
  
  </appSettings>

</configuration>
